.root {
    z-index: 100;
    margin-bottom: 35px;
    height: 410px;
    position: relative;
    width: 100%;
    margin: auto;
    background-image: url('./main_header.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    display: flex;
    justify-content: space-between;

    .user_photo {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}

.mainMenu_ellipse1 {
    position: absolute;
    left: 48%;
    right: 0;
    top: 0;
    bottom: 81.13%;
}

.mainMenu_bird {
    position: absolute;
    top: 59px;

    & img {
        width: 310px;
    }
}


.mainMenu__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 45px;
    min-width: 1200px;
    max-width: 1440px;
}

.mainMenu_wrap {
    display: flex;
    justify-content: space-between;
}

.mainMenu__logo {
    display: flex;
    position: relative;
    flex-grow: 0;
    align-items: flex-start;
    margin-left: 40px;
    z-index: 1;
}

.mainMenu__userbar {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    flex-grow: 0;
    align-items: center;
    margin-right: 45px;
    margin-left: 45px;
}

.mainMenu__userContainer {
    display: flex;
    padding: 10px 15px;
    background-color: transparent;
    padding-right: 50px;
    margin-right: -50px;
    border-radius: 2px 0 0 2px;
    min-height: 60px;

}

.mainMenu__userLink {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
}

.mainMenu__userName {
    display: flex;
    font-size: 1.4rem;
    line-height: 100%;
    color: #fff;
    margin: 0 0 0 15px;
    font-weight: 300;
}

.mainMenu__userQuest {
    display: flex;
    font-size: 1.4rem;
    line-height: 100%;
    color: #fff;
    margin-right: 15px;
    font-weight: 300;
}

.mainMenu__item {
    position: absolute;
    top: -69px;
    margin-left: 30px;
}

.mainMenu__item1 {
    font-weight: 800;
    font-size: 18px;
    padding-left: 5px;
}

.mainMenu__item2 {
    font-weight: 300;
    font-size: 90px;
    position: relative;
    display: block;
    width: auto;
    height: auto;

    & img {
        position: absolute;
    }
}

.mainMenu__text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    padding-left: 5px;
}

.mainMenu__item1,
.mainMenu__item2 {
    color: #ffffff;
}

.mainMenu__item2 img {
    position: absolute;
    top: -1%;
    left: 27%;
    bottom: 0;
    right: 0;
}

@media (max-width: 1480px) {
    .mainMenu__item2 img {
        display: block;
        position: absolute;
        top: -198px;
        left: calc(50% - 494px);
    }
}

@media (min-width: 1480px) {
    .mainMenu__item2 img {
        display: block;
        position: absolute;
        top: -198px;
        left: calc(50% - 494px);
    }
}