.root {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    border-radius: 20px;
    overflow: hidden;

    .groupCardbox {
        padding: 30px;
        display: grid;
        grid-template-rows: 1fr auto;
        align-items: stretch;
        border-radius: 15px;

        &__text {
            & h2 {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
            }

            & span {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 135%;
            }
        }
    }

    .groupCard {
        position: relative;
        display: grid;
        grid-template-columns: 1fr auto;
        overflow: hidden;
        min-height: 255px;
        cursor: pointer;
        min-width: 500px;
    }

    .rateCard {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr auto;
        overflow: hidden;
        min-height: 255px;
        cursor: pointer;
        min-width: 500px;
    }

    .redCircle {
        position: absolute;
    }

    .rateCardbox {
        padding: 30px;
        display: grid;
        align-items: flex-end;
        border-radius: 15px;
        justify-content: end;
        position: absolute;
        bottom: 0;
        right: 0;

    }

    .placeInRateSelection__place_wrapper {
        position: absolute;

    }

    .placeInRateSelection {
        position: relative;

        & svg {
            height: inherit;
        }

    }

    .placeInTalentSelection {
        position: relative;
        height: 100%;

        & svg {
            height: inherit;
        }
    }
}

@media screen and (min-width: 900px) {


    .placeInGroupSelection {
        position: relative;

        div {
            position: absolute;
            top: 45px;
            right: 25px;
            color: var(--white);
            font-weight: 400;
            font-size: 14px;
            text-align: center;
            line-height: 17px;
        }
    }

    .placeInTalentSelection {

        &__wrapper {
            color: white;
        }

        svg {
            position: relative;
            height: inherit;
        }

        div {
            position: absolute;
            top: 100px;
            right: 120px;
            font-family: 'Montserrat';
            font-style: normal;
            line-height: 135%;
            text-align: center;
            color: #FFFFFF;
        }

    }

    .placeInRateSelection {
        font-family: "Montserrat";

        &__place_wrapper {
            color: white;
            top: 100px;
            left: -333px;
        }


        &__place {
            font-style: normal;
            font-weight: 700;
            font-size: 72px;
            color: var(--white);
        }

        &__place_title {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 16px;
            color: var(--white);
        }

        svg {
            position: relative;
        }

        div {
            position: absolute;
            top: 100px;
            left: 50px;
            font-family: 'Montserrat';
            font-style: normal;
            line-height: 135%;
            text-align: center;
            color: #FFFFFF;
        }

    }
}

@media screen and (max-width: 900px) {
    .root {
        grid-template-columns: 1fr;
    }

    .placeInTalentSelection {
        &__wrapper {
            position: absolute;
            top: 70px;
            right: 90px;
            color: #fff;
            line-height: normal;
            text-align: center;
        }

        &__place_title {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 16px;
            color: var(--white);
        }

        &__place {
            font-style: normal;
            font-weight: 700;
            font-size: 72px;
            color: var(--white);
        }
    }

    .placeInGroupSelection {

        svg {
            position: relative;
        }

        div {
            position: absolute;
            top: 47px;
            left: 306px;
            color: var(--white);
            font-weight: 400;
            font-size: 14px;
            text-align: center;
            line-height: 17px;
        }
    }

    .placeInRateSelection {

        &__place_wrapper {
            width: 200px !important;
            position: absolute;
            top: 75px !important;
            left: 0px !important;
            color: white;
        }

        &__place_title {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 16px;
            color: var(--white);
        }

        &__place {
            font-style: normal;
            font-weight: 700;
            font-size: 72px;
            color: var(--white);
        }

        svg {
            position: relative;
        }

        div {
            position: absolute;
            top: 100px;
            right: 120px;
            font-family: 'Montserrat';
            font-style: normal;
            line-height: 135%;
            text-align: center;
            color: #FFFFFF;
        }

    }
}