.root {
    display: grid;
    grid-template-rows: 1fr 1fr;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    justify-content: center;

    .buttonSection {
        display: flex;
        justify-content: center;
    }
}