.root {
    min-height: 100vh;
    padding: 45px;
    background-color: #ffffff;
    margin: 0 auto;
    max-width: 1440px;
    animation: fadeIn 0.15s ease-in-out forwards;
    z-index: 999;
    position: relative;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width: 767.98px) {
    .root {
        padding: 32px 16px;
    }
}

// .wrapper {
//     display: grid;
//     grid-template-columns: auto 230px minmax(320px, 1200px) auto;
//     grid-template-rows: auto 1fr auto;
//     gap: 40px 30px;
//     min-height: 100vh;
//     grid-template-areas:
//         ". header header ."
//         ". sidebar body ."
//         "footer footer footer footer";
// }