.modal-clever {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(34, 30, 52, 0.4);
  backdrop-filter: blur(20px);
  outline: 0;
  pointer-events: none;
  z-index: 99999999;
  white-space: nowrap;
  text-align: center;
  overflow: hidden;

  scrollbar-width: thin;
  scrollbar-color: rgb(233, 233, 233) rgb(170, 170, 170);


  &.show {
    pointer-events: all;
    animation: fadeInOpacity 0.2s forwards;

    & .modal-clever-content {
      animation: fadeIn 0.2s forwards;
    }
  }

  &.hide {
    animation: fadeOutOpacity 0.2s forwards;
    pointer-events: none;

    & .modal-clever-content {
      animation: fadeOut 0.2s forwards;
    }
  }
}

.modal-clever:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0;
}




@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOutOpacity {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  // 0% {
  //   transform: translate(-50%, -50%);
  // }
  // 100% {
  //   transform: translate(-50%, -50%);
  // }
}

@keyframes fadeOut {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}

#close-pop {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 20px;
  cursor: pointer;
  top: 25px;
}