.reviewWrapper {
    margin-top: 75px;
    margin-bottom: 75px;
}

.userWidgetWrapper{
    margin-top: 50px;
    margin-bottom: 100px;
}

.videoBox{
    margin-bottom: 40px;
}

.preContent{
    height: auto;
}