.root {
    width: 100%;
    left: 30px;
    top: 815px;
    padding: 35px;
    background-color: var(--white);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__wrapper{
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        gap: 30px;
    }
}

.userPic {
    width: auto;
    width: 162px;
    height: 162px;
    background: #F2F2F2;
    border-radius: 50%;
    position: relative;

    & img {
        position: absolute;
        left: 10px;
        top: 5px;
    }
}

.userData {
    display: inline-block;

    &__fullname {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        color: var(--gray-900);
        margin-bottom: 9px;
        padding: 0
    }

    &__position {
        font-family: 'Fira Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 17px;
        color: var(--gray-800);
    }
}