.input {
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 7px 15px;
    width: inherit;
    height: 35px;

    &:focus {
        border: none;
    }

    line-height: 22px;
    font-size: 16px;

}