.search {
    position: relative;
    width: 100%;
    & input {
        width: 100%;
        padding-left: 50px;
    }
    .searchButton {
        position: absolute;
        height: 25px;
        width: 25px;
        left: 7px;
        top: -10px;
        padding: 7px;
    }
}
